body {
    background-image: url("https://github.com/Elizaveta120502/PicturesFinalProject/blob/master/pictures/land11.jpg?raw=true");
    width: auto;
    font-family: Perpetua;
    font-weight: 500;
    font-size: 26px;
}

/*"Candara Light"*/