.registration {
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50px;
    background: rgba(143, 188, 143, 0.8);
    align-content: center;
    color: #8B0000;
    left: 400px;
    border-radius: 100px;

}
.error_register{
    background: #FFE4B5;
    border-radius: 10px;
    position: absolute;
    top: 370px;
    left:50px;
    text-align: center;
    width: 80%;


}


.please_registration {
    font-style: oblique;
    font-weight: 800;
    background: #FFE4B5;
    position: absolute;
    top: 30px;
    width: 230px;
    left: 135px;
    border-radius: 10px;
    text-align: center;
}
.login_reg_text {
    font-style: oblique;
    font-weight: 800;
    background: #FFE4B5;
    position: absolute;
    top: 100px;
    width: 80px;
    left: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;


}

.password_reg_text {
    font-style: oblique;
    font-weight: 800;
    background: #FFE4B5;
    position: absolute;
    top: 200px;
    width: 120px;
    left: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;

}

.email_reg_text {
    font-style: oblique;
    font-weight: 800;
    background: #FFE4B5;
    position: absolute;
    top: 300px;
    width: 100px;
    left: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;

}

.registration_button{
    background-color: #FFE4B5;
    border: 2px solid #FFA07A;
    border-radius:50px;
    position: absolute;
    top: 400px;
    width: 100px;
    height: 50px;
    right: 200px;
    margin: 5px 5px 5px 5px;
    color: #8B0000;
}
.registration_button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.registration_button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}