
.sidenav {
    display: none;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFE4B5;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFA07A;
    display: block;
}

.sidenav a:hover {
    color: #B22222;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 80px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}